// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$activeTextColor: #1975ff;

// sidebar
$menuText: #5e5e5e;
$menuActiveBg: #E9F2FF;
$menuActiveText: $activeTextColor;
$subMenuActiveText: $activeTextColor; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #ffffff;
$menuHover: #e9f2ff;

$subMenuBg: #ffffff;
$subMenuHover: #e9f2ff;

$sideBarWidth: 240px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  menuActiveBg: $menuActiveBg;
}
