.el-card {
  border: none !important;
  border-radius: 10px !important;

  .el-card__header {
    padding: 14px 15px 7px;
    min-height: 40px;
  }
  
  .el-card__body {
    padding: 15px 20px 20px 20px;
  }
}

.card-box {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
}

