@use "sass:map";

$--menu: (
  'item-height': 36px,
);

$--table: (
  'header-bg-color': #FAFAFA,
  'row-hover-bg-color': #e7f1ff
);

// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "el"
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $menu: $--menu,
  $table: $--table
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";
